In [1]:
import datetime

In [2]:
datetime_now = datetime.datetime.now()
datetime_now

datetime.datetime(2022, 4, 10, 10, 31, 20, 14835)

In [6]:
current_date = datetime.date.today()
current_date

datetime.date(2022, 4, 10)

In [7]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [9]:
current_date = datetime.date.today()
day = current_date.day
print("Day -->", day)
month = current_date.month
print("Month -->", month)
year = current_date.year
print("Year -->", year)

Day --> 10
Month --> 4
Year --> 2022

In [25]:
from datetime import time
from datetime import datetime

In [16]:
time_val = time(10,24,20,11)
time_val

datetime.time(10, 24, 20, 11)

In [17]:
print("hour", time_val.hour)

hour 10

In [18]:
print("Minute", time_val.minute)

Minute 24

In [19]:
print("Second", time_val.second)

Second 20

In [20]:
print("Microsecond", time_val.microsecond)

Microsecond 11

In [27]:
date_time =  datetime(2022, 10, 20, 21, 40, 11, 100)
date_time

datetime.datetime(2022, 10, 20, 21, 40, 11, 100)

In [30]:
date_time.year, date_time.month, date_time.day, date_time.hour, date_time.minute, date_time.second, date_time.microsecond

(2022, 10, 20, 21, 40, 11, 100)

In [31]:
# timedelta

from datetime import timedelta
t1 = timedelta(weeks = 3, days = 4, hours = 1)
t2 = timedelta(weeks = 1, days = 2, hours = 1)
t3 = t2 - t1
t3

datetime.timedelta(days=-16)

In [33]:
t = timedelta(days = 1)
t.total_seconds()

86400.0

In [34]:
from datetime import datetime
import pytz

In [35]:
local = datetime.now()
local

datetime.datetime(2022, 4, 10, 10, 54, 6, 926422)

In [39]:
tz_Nz = pytz.timezone('America/New_York')
ny_time = datetime.now(tz_Nz)
ny_time

datetime.datetime(2022, 4, 10, 1, 28, 0, 625527, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)

In [40]:
print("NY:", ny_time.strftime("%m,%d,%Y,%H,%M,%S"))

NY: 04,10,2022,01,28,00

In [42]:
tz_lon = pytz.timezone('Europe/London')
lon_time = datetime.now(tz_lon)
print("London:", lon_time.strftime("%m,%d,%Y,%H,%M,%S"))

London: 04,10,2022,06,29,03