<b>Variable:</b> Variables reserved memory location to store some value, it means when we declare some variable we reserve some space in memory
In python we don't need to specify data types to the variable, Python automatically infer the variable type from values assigned to it. We can also intialize one variable with one type and later we can reassigned as value of different data types, Like integer to string.

In [14]:
s='a'
print(type(s))
s=10
print(type(s))

<class 'str'>
<class 'int'>

In [ ]:
s

In [16]:
name="Amit"
Age=10
percentage=98.3
Grade='A'

In [17]:
print(name)

Amit

In [18]:
print(Age)

10

In [19]:
print(percentage)

98.3

In [20]:
print(Grade)

A

In [22]:
a=5
a
type(name)

5

In [11]:
type()

int

In [23]:
type(percentage)

float

In [24]:
type(Grade)

str

In [25]:
Age="Ten"

In [26]:
print(Age)

Ten

In [27]:
type(Age)

str

<b>Multiple Assignement</b>
1. Single value to multiple multiple varibales
2. Multiple value to multiple varibale respectively

In [28]:
name=student=firstname="Amit"

In [29]:
print(name)

Amit

In [30]:
print(student)

Amit

In [31]:
print(firstname)

Amit

In [21]:
name,age,percentage,grade="Sumit",12,97.9,'A'

In [22]:
print(name)

Sumit

In [23]:
print(age)

12

In [24]:
print(percentage)

97.9

In [25]:
print(grade)

A

# Data Types

Python has five standard data types:
    1. Number
    2. String
    2. List
    3. Tuple
    4. Dictionary

<b>Python Number:</b>Python number basically deals with numerical values. Python supports integer, float-point and complex numbers. 
 1. Integer: Number without decimal, defined as int class in python
 2. Float: Real Number separated integer and fractional part with decimal, defined as float class in python
 3. complex: Number which is in the form of a+bj a is real part and b is called imaginary part, defined as complex class in python

In [33]:
a=1029
print(a)
print(type(a))
print(isinstance(a,float))

1029
<class 'int'>
False

In [37]:
b=101.19
print(b)
print(type(b))
print(isinstance(b,float))

101.19
<class 'float'>
True

In [34]:
c=10+5j
print(c)
print(type(c))
print(isinstance(c,complex))

(10+5j)
<class 'complex'>
True

In [44]:
a=1000.116

<b>Python String</b>

Python String can be created simply enclosing character charcaters in quotes. WE can also say Stirng is a sequence of characters.
Python does not support charcter types and it treat single quote same as double quotes.

In [ ]:
string
Character
Boolean

In [47]:
name="M"
print(name)
print(type(name))
print(isinstance(name,str))

M
<class 'str'>
True

In [46]:
profit=True
print(type(profit))

<class 'bool'>

In [50]:
#+ operator in string
course="1"+"_"+"1"
print(course)

1_1

In [51]:
num=1*3
numb="1"*3
print(num)
print(numb)

3
111

In [65]:
name="mitra"
for i in name:
    print(i)

m
i
t
r
a

In [57]:
name[0:5]

'Mitra'

In [66]:
name.islower()

True

<b>Python List</b>

Python list contains values in sequence manner, the values is also called elements and each element assign a number called index or position.
The values store in List can of different data types. List is mutable in nature it means we can modify list value after declaring.

In [71]:
student=['Amit',27,1000000,2.5]
print(student)

['Amit', 27, 1000000, 2.5]

In [73]:
number=[1,10,100,1000,10000,100000,1000000]
number

[1, 10, 100, 1000, 10000, 100000, 1000000]

In [77]:
number[2:5]

[100, 1000, 10000]

In [79]:
number[-1]

1000000

In [ ]:
#Slicing: Slicing allow select multiple element from and make a new list
# Negative Index
#Subseting Subsetting of list can be done using slicing

In [84]:
number.append(12)

In [85]:
number

[1, 10, 100, 1000, 10000, 100000, 1000000, 11, 11, 12]

In [86]:
sum=[2,4,8]

In [87]:
number.extend(sum)

In [88]:
number

[1, 10, 100, 1000, 10000, 100000, 1000000, 11, 11, 12, 2, 4, 8]

In [89]:
number[1]=6

In [90]:
number

[1, 6, 100, 1000, 10000, 100000, 1000000, 11, 11, 12, 2, 4, 8]

In [95]:
number.remove(6)

In [96]:
number

[1, 100, 1000, 10000, 100000, 1000000, 11, 11, 12, 2]

In [93]:
number

[1, 6, 100, 1000, 10000, 100000, 1000000, 11, 11, 12, 2]

In [97]:
del number[1:3]1,2

In [98]:
number

[1, 10000, 100000, 1000000, 11, 11, 12, 2]

In [100]:
1 in number

True

In [81]:
#List Manipulation
#Add Element
 #   append:Add one item a list=.appen()
 #   extend:Add several items at a time.extend()
#Remove Element
 # Deleting list items
my_list = ['A', 'b', 'c', 'd', 'e', 'f', 'g']

# delete one item
#del my_list[4]

#print(my_list)

# delete multiple items
#del my_list[1:4]

#print(my_list)

# delete entire list
#del my_list
#my_list.remove('b')
#print(my_list.pop(1))
#my_list.clear()
#list.index
#list.count
       
#Change Element

<b>Python Tuple</b>

Python Tuple is same as List but only difference that it is not mutable

In [101]:
student=('Jack','27','1000000','2.5')
print(student)

('Jack', '27', '1000000', '2.5')

In [102]:
student[0]="Adam"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Deleting tuples
my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

# del my_tuple[3]

# Can delete an entire tuple
#del my_tuple

<b>Python Dictionary</b>

Python dictionary is an unordered collection of items, each item inside dictionary has a key-value pair separed by colon(:). The whole
Items enclose within curly braces.

In [103]:
employee={"name":"Jack","Age":27,"Salary":1000000}

In [59]:
employee

{'name': 'Jack', 'Age': 27, 'Salary': 1000000}

In [104]:
employee['name']="ABC"

In [106]:
employee

{'name': 'ABC', 'Age': 27, 'Salary': 1000000}

In [ ]:
#Function such as float(),str(),bool() are used to convert

In [107]:
#Update
dict = {'Name': 'AMit', 'Age': 17, 'Class': 'First'}
dict['Age'] = 5; 
dict['School'] = "DAV School" 

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  5
dict['School']:  DAV School

In [11]:
#remove
dict = {'Name': 'Amit', 'Age': 5, 'Class': 'First'}
print(dict['Age'])
print(dict['Class'])

del dict['Name'] # remove entry with key 'Name'
dict.clear()     # remove all entries in dict
del dict         # delete entire dictionary

print(dict['Age'])
print(dict['Class'])

5
First

TypeError: 'type' object is not subscriptable

In [110]:
dict = {'Name': 'ABC', 'Age': 12, 'Names': 'DEF'}
#for x in thisdict.values():
 # print(x
    #.pop()
    #popitem
    #del dict['']
    #mydict = thisdict.copy()

In [111]:
for i in dict.values():
    print(i)

ABC
12
DEF

In [114]:
dict.pop('Name')

'ABC'

In [115]:
dict

{'Age': 12, 'Names': 'DEF'}

In [116]:
l=[1,2,3]

In [119]:
k=l

In [120]:
k

[1, 2, 3]

In [121]:
d=dict

In [122]:
d

{'Age': 12, 'Names': 'DEF'}

In [123]:
e=dict.copy()

In [124]:
e

{'Age': 12, 'Names': 'DEF'}